* {
    position: relative;
}

html {
    overflow-y: scroll;
}

nav {
    height: 75px;
}

.navleftitem {
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color:white;
    background-color: #16a085;
}

nav li {
    margin-left: 10px;
    width: 100px;
    font-weight: bold;
}

nav a:hover {
    color:#34495e;
}

/* Add background image to main container */
main {
    background-image: url("https://img2.pngio.com/dog-paw-cat-clip-art-cat-paw-print-background-transparent-paw-print-background-png-920_967.png");
        padding: 75px 0px 75px 0px;
}

.container {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    color:#16a085;
    border-bottom: 3px solid #ecf0f1;
}

button {
    background-color:#16a085; 
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}

button:hover {
    background-color:#34495e;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #7f8c8d;
}

#indexpic {
    float: left;
    margin-right: 25px;
}



