.navbar-brand {
    background-color: #16a085;
    color: white !important;
    font-weight: bold;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
}

.navbar-nav {
    margin-left: auto !important;
}

/* Add background image to main container */
main {
    background-image: url("https://img2.pngio.com/dog-paw-cat-clip-art-cat-paw-print-background-transparent-paw-print-background-png-920_967.png");
    padding: 75px 0px 125px 0px;
}

.container {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    color:#16a085;
    border-bottom: 3px solid #ecf0f1;
    margin-bottom: 15px;
}

button {
    background-color:#16a085; 
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
}

button:hover {
    background-color:#34495e;
}

#indexpic {
    float: left;
    margin-right: 20px;
}

#footer {
    color: white !important;
    /* force copyright to middle of footer */
    margin-right: auto !important;
    margin-left: auto !important;
}